.icon {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.backg {
    background-color: #cccccc;
}

table th, table td{
    padding-left:  10px;
    padding-right: 10px;
}